.profile {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  padding-top: 20px;
  box-sizing: border-box;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #444040;
}
.listStats {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #757272;
}
.listItem {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #757272;
  width: 100%;
  background-color: #d8d3d3;
}
.listItem:last-child {
  border-right: none;
}
